html,
body,
main {
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

a#icon svg {
	width: 40px;
	fill: #000;
}

input {
	font-size: 14px;
	border-radius: 3px;
}

h1 {
	color: #007bff;
	font-size: 22px;
	margin: 0 0 10px 0;
	text-align: center;
}

#map {
	bottom:0px;
	height: 100%;
	left: 40px;
	position: absolute;
	right: 0px;
	z-index: 0;
}

nav {
	position: absolute;
	z-index: 3;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-295px, 0);
  transform: translate(-300px, 0);
  /* animate the drawer. */
  transition: transform 0.3s ease;
	width: 295px;
	height: 100%;
	background: #D3D3D3;
	border: 3px solid #999;
	text-align: left;
	border-radius: 3px;
	line-height: 35px;
}

nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

#icon {
	position: absolute;
	width: 40px;
	height: 100%;
	background: #D3D3D3;
	cursor: pointer;
	display: block;
}

#pano {
	width: 200px;
	height: 200px;
}

ul {
	list-style-type: none;
	margin-top: 20px;
	width: 100%;
	padding-left: 0;
}

li {
	margin-bottom: 5px;
	cursor: pointer;
	font-size: 14px;
}

.button{
  font-weight: 400;
  word-wrap: break-word;
  width: 75%;
  color: #007bff;
  background-color: transparent;
  border: 2px solid #007bff;
  padding: .5rem .75rem;
  line-height: 1.25rem;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
}

.button:hover{
  color: #ffffff;
  text-decoration: none !important;
  background-color: #000000;
  border: 2px solid #ffffff;
}

h3 {
	font-size: 12px;
}

a {
	color: #007bff;
}

@media screen and (min-width: 600px) {
	nav {
			position: relative;
			transform: translate(0, 0);
	}
	body {
		display: flex;
		flex-flow: row nowrap;
	}
	main{
		width: auto;
		flex-grow: 1;
	}
	#icon {
		display: none;
	}
	#map {
		left: 300px;
	}
}
